Ligands/
TestResults/
.vscode
target/
.settings
.project
.classpath
.idea
*.iml
1hss_vol.dx
1hss_vol.mrc
convert.ccp4
convert.mrc
emd_update.dx
emd_updated.mrc
project_acceptors.dx
project_hydrocav.dx
project_hydroele.dx
reconstructed_flip_contour.dx
reconstructed.dx
rocksdb_test.db/*
rocksdb_test.db

