Ligands/
TestResults/
.vscode
target/
.settings
.project
.classpath
.idea
*.iml
1hss_vol.dx
1hss_vol.mrc
convert.ccp4
convert.mrc
emd_update.dx
emd_updated.mrc
project_acceptors.dx
project_hydrocav.dx
project_hydroele.dx
reconstructed_flip_contour.dx
reconstructed.dx
rocksdb_test.db/000018.log
rocksdb_test.db/000021.sst
rocksdb_test.db/CURRENT
rocksdb_test.db/IDENTITY
rocksdb_test.db/LOCK
rocksdb_test.db/LOG
rocksdb_test.db/MANIFEST-000017
rocksdb_test.db/OPTIONS-000017
rocksdb_test.db/OPTIONS-000020
